body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "sidebar content";
    color: #444;
}

.box {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
}

#singleview {
    display: none;
}

/*** SIDEBAR ***/

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}


.sidebar img {
    width: 100%;
    display: block;
}

.menu {
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: rgb(0 0 0);
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    margin: 2%;
}

button:hover {
    color: rgb(233, 61, 252);
}

button:active {
    color: rgb(233, 61, 252);
}

/*** CONTENT ***/

.content {
    grid-area: content;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    font-size: 49px;
    color: rgb(0 0 0);
}

h2 {
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: rgb(0 0 0);
}

h3 {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(255 226 0);
    margin: 0;
}

p {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(0 0 0);
}

#liste {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.ret {
    margin-bottom: 5%;
    margin-right: 5%;
}

.billede {
    margin-bottom: 5%;
}

.billede img {
    width: 50%;
}
